.main-filter.panel.panel-primary
  .panel-heading
    .title Enter new domain
  .panel-body
    = form_for @domain, role: :form, class: :row do |f|
      .well.weel-sm.errors-container{ class: (:hidden unless @domain.errors.any?) }
        %h4 Fix errors before procceed!
        %ul
          - @domain.errors.full_messages.each do |message|
            %li= message
      .form-group.col-xs-6
        = f.text_field :url, class: 'form-control', placeholder: 'Domain url'

      .form-group.col-xs-3
        = f.submit 'Create', class: 'btn btn-info pull-right'

%table.table.table-striped
  %thead
    %tr
      %th Url
      %th Checked At
      %th Google Indexed?
      %th Google indexes count
      %th
  %tbody
    - @domains.each do |domain|
      %tr
        %td= link_to domain.url, domain.url
        %td
          - if domain.checked_at
            = domain.checked_at.in_time_zone('Pacific Time (US & Canada)').strftime('%b %d, %I:%M %p %Z')
        %td= domain.g_indexed? ? 'Y' : 'N'
        %td= domain.g_index
        %td
          = link_to domain_path(domain), method: :delete, data: { confirm: 'Are you sure?' } do
            %i.glyphicon.glyphicon-trash
